* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
    margin-top: 80px;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px 0;
}

.buttons {
    display: flex;
    justify-content: center;
}

button {
    display: flex;
    margin: 0 24px 32px;
    padding: 4px 16px;
    border: solid 1px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    background-color: white;
}

.button:hover {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    transform: translateY(-1px);
}

.button:active,
.buttonActive {
    background-color: rgba(0, 0, 0, 0.08);
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.4);
    transform: translateY(1px);
}

.container {
    display: flex;
    margin: 0 auto;
    width: 600px;
    height: 600px;
    outline: groove 4px rgba(0, 0, 0, 0.4);
    flex-wrap: wrap;
    box-shadow: 0 8px 16px grey;
}

.squareDefault {
    border: solid 1px rgba(0, 0, 0, 0.1);
}

.squareHover {
    border: solid 3px rgb(25, 25, 25);
}

.squareColor {
    background-color: black;
}

.squareRemoveBorder {
    border: none;
}
