* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px 0;
}

.newGridBtn {
    display: flex;
    margin: 0 auto 24px;
    padding: 4px 20px;
    border: solid 1px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    background-color: white;
}

.newGridBtn:hover {
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    transform: translateY(-2px);
}

.newGridBtn:active {
    background-color: white;
}

.container {
    display: flex;
    margin: 0 auto;
    width: 800px;
    height: 800px;
    outline: groove 4px rgba(0, 0, 0, 0.4);
    flex-wrap: wrap;
    box-shadow: 0 15px 15px grey;
}

.squareDefault {
    border: solid 1px rgba(0, 0, 0, 0.1);
}

.squareHover {
    border: solid 3px rgb(25, 25, 25);
}

.squareColor {
    background-color: blueviolet;
}

.squareRemoveBorder {
    border: none;
}
